<div>
  <span>
    Activity: 
    <p>{{this.model.activity}}</p>
  </span>

  <span>
    Type of activity: 
    <p>{{this.model.type}}</p>
  </span>

  <span>
    How many participants: 
    <p>{{this.model.participants}}</p>
  </span>

  <span>
    Link (if there is one):
    <p>{{this.model.link}}</p>
  </span>

</div>
